/**
* 3D CONFIGURATOR PLUGIN
**/
html,
body {
  min-width: 100%;
  min-height: 100%;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
  overflow: hidden;
}
:root {
  --hyp-primary-bg: #1D2127;
  --hyp-primary-fg: white;
  --hyp-secondary-bg: #DDDDDD;
  --hyp-secondary-fg: white;
  --hyp-tertiary-bg: #006D77;
  --hyp-tertiary-fg: gray;
  --hyp-disabled-bg: #ccc;
  --hyp-disabled-fg: gray;
  --hyp-active-bg: rgba(255, 255, 255, 0.8);
  --hyp-active-fg: #00A878;
  --hyp-warning-fg: #E1A74B;
  --hyp-warning-bg: #ffeccf;
}
@keyframes pulsate {
  0% {
    opacity: 0.1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}
@keyframes fx {
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: var(--hyp-primary-bg) var(--hyp-secondary-bg);
}
/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 0.5rem;
}
*::-webkit-scrollbar-track {
  background: var(--hyp-secondary-bg);
}
*::-webkit-scrollbar-thumb {
  background-color: var(--hyp-primary-bg);
  border-radius: 10px;
  border: 3px solid var(--hyp-primary-bg);
}
/*The main 3d configurator container*/
[data-role=hyp-3d-container] {
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
  /*The main 3d viewer container*/
  /*The main 3d options container*/
}
@media (orientation: portrait) and (max-width: 992px) {
  [data-role=hyp-3d-container] {
    flex-direction: column;
  }
}
[data-role=hyp-3d-container].first-step [data-role=hyp-3d-viewer] {
  max-width: 0;
  min-width: 0;
  flex: 0;
  display: none;
}
[data-role=hyp-3d-container].first-step [data-role=hyp-3d-options] {
  max-width: calc(100% - 2rem);
  min-width: calc(100% - 2rem);
  border: 0;
}
[data-role=hyp-3d-container] [data-role=hyp-3d-viewer] {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
  max-height: 100%;
  padding: 0;
  /*The view switcher*/
  /*The layers container*/
  /*The canvas container*/
}
[data-role=hyp-3d-container] [data-role=hyp-3d-viewer] [data-role=hyp-view-selector] {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex: 0;
}
@media (orientation: portrait) and (max-width: 992px) {
  [data-role=hyp-3d-container] [data-role=hyp-3d-viewer] [data-role=hyp-view-selector] {
    flex-direction: column;
    position: absolute;
    right: 0.25rem;
    max-height: 132px;
    z-index: 2002;
    overflow: hidden;
    justify-content: flex-start;
  }
  [data-role=hyp-3d-container] [data-role=hyp-3d-viewer] [data-role=hyp-view-selector]:not(.collapsed) {
    max-height: unset;
  }
  [data-role=hyp-3d-container] [data-role=hyp-3d-viewer] [data-role=hyp-view-selector]:not(.collapsed) .view.active::before {
    display: none;
  }
  [data-role=hyp-3d-container] [data-role=hyp-3d-viewer] [data-role=hyp-view-selector] .view {
    max-height: 120px;
    max-width: 120px;
    min-width: 120px;
    padding: 0.25rem !important;
    min-height: 120px;
    justify-content: center;
    align-items: center;
    line-height: 120px;
    text-align: center;
    border-bottom: 1px solid var(--hyp-secondary-bg) !important;
    border: 1px solid var(--hyp-secondary-bg);
    margin: 0.1rem;
    cursor: pointer;
    order: 2;
    font-size: 2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  [data-role=hyp-3d-container] [data-role=hyp-3d-viewer] [data-role=hyp-view-selector] .view.active {
    border-bottom: 1px solid var(--hyp-primary-bg) !important;
    border: 1px solid var(--hyp-primary-bg);
    order: 1;
  }
  [data-role=hyp-3d-container] [data-role=hyp-3d-viewer] [data-role=hyp-view-selector] .view.active::before {
    all: unset;
    content: '';
    /* margin-top: 35px; */
    z-index: 1;
    width: 0px;
    position: absolute;
    border: solid black;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 4px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    bottom: 5px;
    left: calc(50% - 3px);
    -webkit-animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite;
    opacity: 0.1;
  }
}
[data-role=hyp-3d-container] [data-role=hyp-3d-viewer] [data-role=hyp-view-selector] .view {
  flex: 0;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  border-bottom: 2px solid var(--hyp-primary-fg);
  cursor: pointer;
}
[data-role=hyp-3d-container] [data-role=hyp-3d-viewer] [data-role=hyp-view-selector] .view.active {
  border-bottom: 2px solid var(--hyp-primary-bg);
  font-weight: bold;
}
[data-role=hyp-3d-container] [data-role=hyp-3d-viewer] [data-role=hyp-view-selector] .view.active:hover {
  cursor: default;
}
[data-role=hyp-3d-container] [data-role=hyp-3d-viewer] [data-role=hyp-view-selector] .view:hover {
  border-bottom: 2px solid var(--hyp-primary-bg);
}
[data-role=hyp-3d-container] [data-role=hyp-3d-viewer] [data-role=hyp-layer-container] {
  display: flex;
  flex-direction: column;
  flex: 0;
  position: relative;
  overflow: hidden;
}
[data-role=hyp-3d-container] [data-role=hyp-3d-viewer] [data-role=hyp-layer-container] [data-role=hyp-slide] {
  width: 100%;
  height: 100%;
  transition: transform 0.3s;
}
[data-role=hyp-3d-container] [data-role=hyp-3d-viewer] [data-role=hyp-layer-container] [data-role=hyp-slide] .layer {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  max-height: 100%;
}
[data-role=hyp-3d-container] [data-role=hyp-3d-viewer] [data-role=hyp-layer-container] [data-role=hyp-slide] .layer > img {
  flex: 1;
  object-fit: contain;
  max-height: 100%;
  max-width: 100%;
  pointer-events: none;
  transition: opacity ease-in-out 0.2s;
}
[data-role=hyp-3d-container] [data-role=hyp-3d-viewer] [data-role=hyp-canvas-container] {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
[data-role=hyp-3d-container] [data-role=hyp-3d-viewer] [data-role=hyp-canvas-container] [data-role=hyp-slide] {
  width: 100%;
  height: 100%;
  transition: transform 0.3s;
}
[data-role=hyp-3d-container] [data-role=hyp-3d-viewer] [data-role=hyp-canvas-container] [data-role=hyp-slide] .layer-canvas {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  width: 100%;
  height: 100%;
}
[data-role=hyp-3d-container] [data-role=hyp-3d-viewer] [data-role="previous-view"] {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2001;
}
[data-role=hyp-3d-container] [data-role=hyp-3d-viewer] [data-role="previous-view"]:after {
  all: unset;
  inset: 0;
  display: block;
  content: '';
  width: 0px;
  height: 0px;
  position: absolute;
  border-style: solid;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 12px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  cursor: pointer;
  opacity: 1;
  top: calc(50% - 15px);
  left: calc(50% - 10px);
}
[data-role=hyp-3d-container] [data-role=hyp-3d-viewer] [data-role="next-view"] {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2001;
}
[data-role=hyp-3d-container] [data-role=hyp-3d-viewer] [data-role="next-view"]:after {
  all: unset;
  inset: 0;
  display: block;
  content: '';
  width: 0px;
  height: 0px;
  position: absolute;
  border-style: solid;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 12px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  cursor: pointer;
  opacity: 1;
  top: calc(50% - 15px);
  left: calc(50% - 20px);
}
[data-role=hyp-3d-container] [data-role=hyp-3d-options] {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 30vw;
  min-width: 300px;
  border-left: 1px solid var(--hyp-tertiary-fg);
  padding: 0 1rem 1rem 1rem;
  transition: all ease-in-out 0.4s;
  overflow: hidden;
}
@media (orientation: portrait) and (max-width: 992px) {
  [data-role=hyp-3d-container] [data-role=hyp-3d-options] {
    max-width: calc(100vw - 2rem);
    min-width: calc(100vw - 2rem);
    min-height: 85px;
    border-left: none;
    border-top: 1px solid var(--hyp-tertiary-fg);
    transition: none;
  }
}
@media (min-width: 1200px) {
  [data-role=hyp-3d-container] [data-role=hyp-3d-options] {
    max-width: 40vw;
    min-width: 400px;
  }
}
@media (min-width: 1400px) {
  [data-role=hyp-3d-container] [data-role=hyp-3d-options] {
    max-width: 50vw;
    min-width: 500px;
  }
}
[data-role=hyp-3d-container] [data-role=hyp-3d-options] header {
  display: flex;
  flex-direction: row;
  align-items: center;
}
[data-role=hyp-3d-container] [data-role=hyp-3d-options] header [data-role=hyp-configurator-title] {
  flex: 1;
  display: flex;
}
[data-role=hyp-3d-container] [data-role=hyp-3d-options] header [data-role=hyp-price-container] {
  flex: 0;
  justify-content: flex-end;
  display: flex;
}
@media (orientation: portrait) and (max-width: 992px) {
  [data-role=hyp-3d-container] [data-role=hyp-3d-options] header {
    font-size: 1.5rem;
  }
}
[data-role=hyp-3d-container] [data-role=hyp-3d-options] [data-role=hyp-step-container] {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-height: unset;
}
[data-role=hyp-3d-container] [data-role=hyp-3d-options] [data-role=hyp-step-container] [data-role=hyp-step-title] {
  padding: 0.375rem 0.25rem;
  font-weight: bold;
  color: var(--primary);
  display: flex;
  align-items: center;
}
[data-role=hyp-3d-container] [data-role=hyp-3d-options] [data-role=hyp-step-container] [data-role=hyp-step-title] > .description {
  margin-right: 0.25rem;
}
[data-role=hyp-3d-container] [data-role=hyp-3d-options] [data-role=hyp-step-container] [data-role=hyp-step-title] > .step-name {
  font-style: italic;
}
@media (orientation: portrait) and (max-width: 992px) {
  [data-role=hyp-3d-container] [data-role=hyp-3d-options] [data-role=hyp-step-container] [data-role=hyp-step-title] {
    font-size: 2rem;
    padding: 1rem 0.25rem;
  }
  [data-role=hyp-3d-container] [data-role=hyp-3d-options] [data-role=hyp-step-container] [data-role=hyp-step-title] > .description {
    display: none;
  }
}
@media (orientation: portrait) and (max-width: 992px) {
  [data-role=hyp-3d-container] [data-role=hyp-3d-options] [data-role=hyp-step-container] [data-role=hyp-step-title] {
    font-size: 1.5rem;
  }
}
[data-role=hyp-3d-container] [data-role=hyp-3d-options] [data-role=hyp-step-container] [data-role=hyp-step-indicator-container] {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0.5rem 0;
  align-items: center;
  cursor: pointer;
  padding: 0.25rem;
}
@media (orientation: portrait) and (max-width: 992px) {
  [data-role=hyp-3d-container] [data-role=hyp-3d-options] [data-role=hyp-step-container] [data-role=hyp-step-indicator-container] {
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    width: calc(100vw - 0.2rem);
    margin-top: 0px;
    padding: 0 0.1rem 0.25rem 0.1rem;
  }
}
[data-role=hyp-3d-container] [data-role=hyp-3d-options] [data-role=hyp-step-container] [data-role=hyp-step-indicator-container] .step-indicator {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--hyp-secondary-bg);
  color: var(--hyp-secondary-fg);
}
@media (orientation: portrait) and (max-width: 992px) {
  [data-role=hyp-3d-container] [data-role=hyp-3d-options] [data-role=hyp-step-container] [data-role=hyp-step-indicator-container] .step-indicator {
    height: 5px;
    flex: 1;
    border-radius: 0;
    margin: 0 1px;
  }
  [data-role=hyp-3d-container] [data-role=hyp-3d-options] [data-role=hyp-step-container] [data-role=hyp-step-indicator-container] .step-indicator .text {
    display: none;
  }
  [data-role=hyp-3d-container] [data-role=hyp-3d-options] [data-role=hyp-step-container] [data-role=hyp-step-indicator-container] .step-indicator:after {
    display: none;
  }
}
[data-role=hyp-3d-container] [data-role=hyp-3d-options] [data-role=hyp-step-container] [data-role=hyp-step-indicator-container] .step-indicator.active {
  background: var(--hyp-primary-bg);
  cursor: initial;
}
[data-role=hyp-3d-container] [data-role=hyp-3d-options] [data-role=hyp-step-container] [data-role=hyp-step-indicator-container] .step-indicator.active .text {
  color: var(--hyp-primary-fg);
}
[data-role=hyp-3d-container] [data-role=hyp-3d-options] [data-role=hyp-step-container] [data-role=hyp-step-indicator-container] .step-indicator.active:after {
  background: transparent;
}
[data-role=hyp-3d-container] [data-role=hyp-3d-options] [data-role=hyp-step-container] [data-role=hyp-step-indicator-container] .step-indicator:hover {
  background: var(--hyp-primary-bg);
}
[data-role=hyp-3d-container] [data-role=hyp-3d-options] [data-role=hyp-step-container] [data-role=hyp-step-indicator-container] .step-indicator:hover .text {
  color: var(--hyp-primary-bg);
}
[data-role=hyp-3d-container] [data-role=hyp-3d-options] [data-role=hyp-step-container] [data-role=hyp-step-indicator-container] .step-indicator:hover:after {
  background: var(--hyp-secondary-bg);
}
[data-role=hyp-3d-container] [data-role=hyp-3d-options] [data-role=hyp-step-container] [data-role=hyp-step-indicator-container] .step-indicator:hover.active {
  background: var(--hyp-primary-bg);
}
[data-role=hyp-3d-container] [data-role=hyp-3d-options] [data-role=hyp-step-container] [data-role=hyp-step-indicator-container] .step-indicator:hover.active .text {
  color: var(--hyp-primary-fg);
}
[data-role=hyp-3d-container] [data-role=hyp-3d-options] [data-role=hyp-step-container] [data-role=hyp-step-indicator-container] .step-indicator:hover.active:after {
  background: var(--hyp-primary-bg);
}
[data-role=hyp-3d-container] [data-role=hyp-3d-options] [data-role=hyp-step-container] [data-role=hyp-step-indicator-container] .step-indicator .text {
  position: absolute;
  z-index: 1;
  color: var(--hyp-secondary-bg);
}
[data-role=hyp-3d-container] [data-role=hyp-3d-options] [data-role=hyp-step-container] [data-role=hyp-step-indicator-container] .step-indicator:after {
  content: '';
  height: 26px;
  width: 26px;
  border-radius: 50%;
  background: white;
  position: absolute;
}
[data-role=hyp-3d-container] [data-role=hyp-3d-options] [data-role=hyp-step-container] [data-role=hyp-step-indicator-container] .indicator-line {
  width: 100%;
  height: 2px;
  background: var(--hyp-secondary-bg);
  flex: 1;
}
@media (orientation: portrait) and (max-width: 992px) {
  [data-role=hyp-3d-container] [data-role=hyp-3d-options] [data-role=hyp-step-container] [data-role=hyp-step-indicator-container] .indicator-line {
    display: none;
  }
}
[data-role=hyp-3d-container] [data-role=hyp-3d-options] [data-role=hyp-step-container] .option-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: auto;
}
[data-role=hyp-3d-container] [data-role=hyp-3d-options] [data-role=hyp-step-container] .option-container .option {
  display: flex;
  flex: 1 0 auto;
  min-width: calc(25% - 12px);
  max-width: calc(25% - 12px);
  height: auto;
  position: relative;
  margin: 0.25rem;
  cursor: pointer;
  border: 1px solid var(--hyp-secondary-bg);
  flex-direction: column;
}
@media (min-width: 0px) {
  [data-role=hyp-3d-container] [data-role=hyp-3d-options] [data-role=hyp-step-container] .option-container .option {
    min-width: calc(25% - 12px);
    max-width: calc(25% - 12px);
  }
}
@media (min-width: 992px) {
  [data-role=hyp-3d-container] [data-role=hyp-3d-options] [data-role=hyp-step-container] .option-container .option {
    min-width: calc(50% - 12px);
    max-width: calc(50% - 12px);
  }
}
@media (min-width: 1024px) {
  [data-role=hyp-3d-container] [data-role=hyp-3d-options] [data-role=hyp-step-container] .option-container .option {
    min-width: calc(50% - 12px);
    max-width: calc(50% - 12px);
  }
}
@media (min-width: 1200px) {
  [data-role=hyp-3d-container] [data-role=hyp-3d-options] [data-role=hyp-step-container] .option-container .option {
    min-width: calc(33.33333% - 12px);
    max-width: calc(33.33333% - 12px);
  }
}
@media (min-width: 1400px) {
  [data-role=hyp-3d-container] [data-role=hyp-3d-options] [data-role=hyp-step-container] .option-container .option {
    min-width: calc(25% - 12px);
    max-width: calc(25% - 12px);
  }
}
[data-role=hyp-3d-container] [data-role=hyp-3d-options] [data-role=hyp-step-container] .option-container .option .img-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
}
[data-role=hyp-3d-container] [data-role=hyp-3d-options] [data-role=hyp-step-container] .option-container .option .img-container object {
  display: flex;
  flex-direction: column;
  flex: 1;
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  inset: 0;
}
[data-role=hyp-3d-container] [data-role=hyp-3d-options] [data-role=hyp-step-container] .option-container .option .img-container object > img {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}
[data-role=hyp-3d-container] [data-role=hyp-3d-options] [data-role=hyp-step-container] .option-container .option .img-container:before {
  content: '';
  float: left;
  padding-top: 100%;
}
[data-role=hyp-3d-container] [data-role=hyp-3d-options] [data-role=hyp-step-container] .option-container .option .img-container:after {
  position: absolute;
  content: '';
  inset: 0;
  background: rgba(0, 0, 0, 0.2);
  transition: background ease-in-out 0.2s;
  z-index: 1;
}
[data-role=hyp-3d-container] [data-role=hyp-3d-options] [data-role=hyp-step-container] .option-container .option .option-data-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
}
[data-role=hyp-3d-container] [data-role=hyp-3d-options] [data-role=hyp-step-container] .option-container .option .option-data-container .option-data {
  padding: 0.25rem;
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
[data-role=hyp-3d-container] [data-role=hyp-3d-options] [data-role=hyp-step-container] .option-container .option .option-data-container .option-data .model-code,
[data-role=hyp-3d-container] [data-role=hyp-3d-options] [data-role=hyp-step-container] .option-container .option .option-data-container .option-data .model-name,
[data-role=hyp-3d-container] [data-role=hyp-3d-options] [data-role=hyp-step-container] .option-container .option .option-data-container .option-data .variant-code,
[data-role=hyp-3d-container] [data-role=hyp-3d-options] [data-role=hyp-step-container] .option-container .option .option-data-container .option-data .variant-name {
  flex: 0;
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  min-height: 1rem;
  font-size: 1rem;
}
@media (orientation: portrait) and (max-width: 992px) {
  [data-role=hyp-3d-container] [data-role=hyp-3d-options] [data-role=hyp-step-container] .option-container .option .option-data-container .option-data .model-code,
  [data-role=hyp-3d-container] [data-role=hyp-3d-options] [data-role=hyp-step-container] .option-container .option .option-data-container .option-data .model-name,
  [data-role=hyp-3d-container] [data-role=hyp-3d-options] [data-role=hyp-step-container] .option-container .option .option-data-container .option-data .variant-code,
  [data-role=hyp-3d-container] [data-role=hyp-3d-options] [data-role=hyp-step-container] .option-container .option .option-data-container .option-data .variant-name {
    font-size: 1.5rem;
    min-height: 1.5rem;
  }
}
[data-role=hyp-3d-container] [data-role=hyp-3d-options] [data-role=hyp-step-container] .option-container .option .option-data-container:before {
  content: '';
  float: left;
  padding-top: 100%;
}
[data-role=hyp-3d-container] [data-role=hyp-3d-options] [data-role=hyp-step-container] .option-container .option .option-data-container:after {
  position: absolute;
  content: '';
  inset: 0;
  background: rgba(0, 0, 0, 0.2);
  transition: background ease-in-out 0.2s;
}
[data-role=hyp-3d-container] [data-role=hyp-3d-options] [data-role=hyp-step-container] .option-container .option.active {
  border: 1px solid var(--hyp-primary-bg);
}
[data-role=hyp-3d-container] [data-role=hyp-3d-options] [data-role=hyp-step-container] .option-container .option.active:not(.has-preview) .option-data-container:after {
  position: absolute;
  content: '';
  inset: 0;
  background: transparent;
}
[data-role=hyp-3d-container] [data-role=hyp-3d-options] [data-role=hyp-step-container] .option-container .option.active:where(.has-preview) .img-container:after {
  position: absolute;
  content: '';
  inset: 0;
  background: transparent;
}
[data-role=hyp-3d-container] [data-role=hyp-3d-options] [data-role=hyp-step-container] .option-container .option.active .variant-descriptor > span {
  font-weight: bold;
}
[data-role=hyp-3d-container] [data-role=hyp-3d-options] [data-role=hyp-step-container] .option-container .option.active .icon-container {
  display: flex;
}
[data-role=hyp-3d-container] [data-role=hyp-3d-options] [data-role=hyp-step-container] .option-container .option:not(.disabled):hover {
  border: 1px solid var(--hyp-primary-bg);
}
[data-role=hyp-3d-container] [data-role=hyp-3d-options] [data-role=hyp-step-container] .option-container .option:not(.disabled):hover:not(.has-preview) .option-data-container:after {
  position: absolute;
  content: '';
  inset: 0;
  background: transparent;
}
[data-role=hyp-3d-container] [data-role=hyp-3d-options] [data-role=hyp-step-container] .option-container .option:not(.disabled):hover:where(.has-preview) .img-container:after {
  position: absolute;
  content: '';
  inset: 0;
  background: transparent;
}
[data-role=hyp-3d-container] [data-role=hyp-3d-options] [data-role=hyp-step-container] .option-container .option .variant-descriptor {
  flex: 0;
  min-height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.25rem;
}
[data-role=hyp-3d-container] [data-role=hyp-3d-options] [data-role=hyp-step-container] .option-container .option .variant-descriptor > span {
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
[data-role=hyp-3d-container] [data-role=hyp-3d-options] [data-role=hyp-step-container] .option-container .option .icon-container {
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
  display: none;
}
[data-role=hyp-3d-container] [data-role=hyp-3d-options] [data-role=hyp-step-container] .option-container .option .icon-container .icon-check {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(1, 1));
  width: 22px;
  height: 22px;
  border: 2px solid var(--hyp-active-fg);
  border-radius: 100px;
  background: var(--hyp-active-bg);
}
[data-role=hyp-3d-container] [data-role=hyp-3d-options] [data-role=hyp-step-container] .option-container .option .icon-container .icon-check::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  left: 3px;
  top: -1px;
  width: 6px;
  height: 10px;
  border-color: var(--hyp-active-fg);
  border-width: 0 2px 2px 0;
  border-style: solid;
  transform-origin: bottom left;
  transform: rotate(45deg);
}
[data-role=hyp-3d-container] [data-role=hyp-3d-options] [data-role=hyp-step-container] .option-container .option.disabled {
  border: 1px solid var(--hyp-disabled-bg);
  cursor: not-allowed;
}
[data-role=hyp-3d-container] [data-role=hyp-3d-options] [data-role=hyp-step-container] .option-container .option.disabled .variant-descriptor {
  background: var(--hyp-disabled-bg);
  color: var(--hyp-disabled-fg);
}
[data-role=hyp-3d-container] [data-role=hyp-3d-options] [data-role=hyp-step-container] .option-container .spacer {
  flex: 1;
  margin: 0.25rem;
}
[data-role=hyp-3d-container] [data-role=hyp-3d-options] [data-role=hyp-step-container] [data-role=hyp-step-warning-container] {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  margin: 1rem 0.25rem;
  background: var(--hyp-warning-bg);
  color: var(--hyp-warning-fg);
  border: 1px solid var(--hyp-warning-fg);
}
[data-role=hyp-3d-container] [data-role=hyp-3d-options] [data-role=hyp-step-container] [data-role=hyp-step-warning-container] .step-warning,
[data-role=hyp-3d-container] [data-role=hyp-3d-options] [data-role=hyp-step-container] [data-role=hyp-step-warning-container] .step-warning-title {
  padding: 0 0.25rem;
}
[data-role=hyp-3d-container] [data-role=hyp-3d-options] [data-role=hyp-step-container] [data-role=hyp-step-warning-container] .step-warning:where(.step-warning-title),
[data-role=hyp-3d-container] [data-role=hyp-3d-options] [data-role=hyp-step-container] [data-role=hyp-step-warning-container] .step-warning-title:where(.step-warning-title) {
  font-weight: bold;
}
[data-role=hyp-3d-container] [data-role=hyp-3d-options] [data-role=hyp-step-container] [data-role=hyp-step-warning-container] .step-warning .goto,
[data-role=hyp-3d-container] [data-role=hyp-3d-options] [data-role=hyp-step-container] [data-role=hyp-step-warning-container] .step-warning-title .goto {
  cursor: pointer;
  font-weight: bold;
}
[data-role=hyp-3d-container] [data-role=hyp-3d-options] [data-role=hyp-step-container] [data-role=hyp-step-warning-container] .step-warning .goto:hover,
[data-role=hyp-3d-container] [data-role=hyp-3d-options] [data-role=hyp-step-container] [data-role=hyp-step-warning-container] .step-warning-title .goto:hover {
  text-decoration: underline;
}
[data-role=hyp-3d-container] [data-role=hyp-3d-options] [data-role=hyp-step-container] [data-role=hyp-selections-container] {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: auto;
  justify-content: flex-start;
  align-items: center;
}
[data-role=hyp-3d-container] [data-role=hyp-3d-options] [data-role=hyp-step-container] [data-role=hyp-selections-container] [data-role=hyp-selection] {
  display: flex;
  flex-direction: row;
  padding: 0.25rem;
  margin: 0.25rem;
  border: 1px solid var(--hyp-secondary-bg);
  min-width: calc(100% - calc(2px + 1rem));
}
[data-role=hyp-3d-container] [data-role=hyp-3d-options] [data-role=hyp-step-container] [data-role=hyp-selections-container] [data-role=hyp-selection] [data-role=hyp-selection-icon] {
  flex: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 20%;
  min-width: 20%;
}
[data-role=hyp-3d-container] [data-role=hyp-3d-options] [data-role=hyp-step-container] [data-role=hyp-selections-container] [data-role=hyp-selection] [data-role=hyp-selection-icon] > img,
[data-role=hyp-3d-container] [data-role=hyp-3d-options] [data-role=hyp-step-container] [data-role=hyp-selections-container] [data-role=hyp-selection] [data-role=hyp-selection-icon] object {
  max-width: 100%;
  min-width: 100%;
  object-fit: contain;
  border: 1px solid var(--hyp-secondary-bg);
}
[data-role=hyp-3d-container] [data-role=hyp-3d-options] [data-role=hyp-step-container] [data-role=hyp-selections-container] [data-role=hyp-selection] [data-role=hyp-selection-data] {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  padding: 0 0.5rem;
}
[data-role=hyp-3d-container] [data-role=hyp-3d-options] [data-role=hyp-step-container] [data-role=hyp-selections-container] [data-role=hyp-selection] [data-role=hyp-selection-data] > .selection-option-name {
  font-weight: bold;
  cursor: pointer;
}
[data-role=hyp-3d-container] [data-role=hyp-3d-options] [data-role=hyp-step-container] [data-role=hyp-selections-container] [data-role=hyp-selection] [data-role=hyp-selection-data] > .selection-option-name:hover {
  text-decoration: underline;
}
[data-role=hyp-3d-container] [data-role=hyp-3d-options] [data-role=hyp-step-container] [data-role=hyp-selections-container] [data-role=hyp-selection] [data-role=hyp-selection-data] > .selection-user-input {
  display: flex;
  flex-direction: row;
  align-items: center;
}
[data-role=hyp-3d-container] [data-role=hyp-3d-options] [data-role=hyp-step-container] [data-role=hyp-selections-container] [data-role=hyp-selection] [data-role=hyp-selection-data] > .selection-user-input > .selection-user-input-title {
  font-weight: bold;
}
[data-role=hyp-3d-container] [data-role=hyp-3d-options] [data-role=hyp-step-container] [data-role=hyp-selections-container] [data-role=hyp-selection] [data-role=hyp-selection-data] > .selection-user-input > .selection-user-input-value {
  padding: 0 0.25rem;
}
[data-role=hyp-3d-container] [data-role=hyp-3d-options] [data-role=hyp-step-container] [data-role=hyp-sizes-container] {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: auto;
}
[data-role=hyp-3d-container] [data-role=hyp-3d-options] [data-role=hyp-step-container] [data-role=hyp-sizes-container] .hyp-size {
  display: flex;
  flex: 1 0 auto;
  min-width: calc(25% - 12px);
  max-width: calc(25% - 12px);
  height: auto;
  position: relative;
  margin: 0.25rem;
  cursor: pointer;
  border: 1px solid var(--hyp-secondary-bg);
  flex-direction: column;
}
@media (min-width: 0px) {
  [data-role=hyp-3d-container] [data-role=hyp-3d-options] [data-role=hyp-step-container] [data-role=hyp-sizes-container] .hyp-size {
    min-width: calc(10% - 12px);
    max-width: calc(10% - 12px);
  }
}
@media (min-width: 992px) {
  [data-role=hyp-3d-container] [data-role=hyp-3d-options] [data-role=hyp-step-container] [data-role=hyp-sizes-container] .hyp-size {
    min-width: calc(20% - 12px);
    max-width: calc(20% - 12px);
  }
}
@media (min-width: 1024px) {
  [data-role=hyp-3d-container] [data-role=hyp-3d-options] [data-role=hyp-step-container] [data-role=hyp-sizes-container] .hyp-size {
    min-width: calc(20% - 12px);
    max-width: calc(20% - 12px);
  }
}
@media (min-width: 1200px) {
  [data-role=hyp-3d-container] [data-role=hyp-3d-options] [data-role=hyp-step-container] [data-role=hyp-sizes-container] .hyp-size {
    min-width: calc(20% - 12px);
    max-width: calc(20% - 12px);
  }
}
@media (min-width: 1400px) {
  [data-role=hyp-3d-container] [data-role=hyp-3d-options] [data-role=hyp-step-container] [data-role=hyp-sizes-container] .hyp-size {
    min-width: calc(20% - 12px);
    max-width: calc(20% - 12px);
  }
}
[data-role=hyp-3d-container] [data-role=hyp-3d-options] [data-role=hyp-step-container] [data-role=hyp-sizes-container] .hyp-size .size-data-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
}
[data-role=hyp-3d-container] [data-role=hyp-3d-options] [data-role=hyp-step-container] [data-role=hyp-sizes-container] .hyp-size .size-data-container .size-data {
  padding: 0.25rem;
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
[data-role=hyp-3d-container] [data-role=hyp-3d-options] [data-role=hyp-step-container] [data-role=hyp-sizes-container] .hyp-size .size-data-container .size-data .span {
  flex: 0;
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  min-height: 1rem;
  font-size: 1rem;
}
@media (orientation: portrait) and (max-width: 992px) {
  [data-role=hyp-3d-container] [data-role=hyp-3d-options] [data-role=hyp-step-container] [data-role=hyp-sizes-container] .hyp-size .size-data-container .size-data .span {
    font-size: 1.5rem;
    min-height: 1.5rem;
  }
}
[data-role=hyp-3d-container] [data-role=hyp-3d-options] [data-role=hyp-step-container] [data-role=hyp-sizes-container] .hyp-size .size-data-container:before {
  content: '';
  float: left;
  padding-top: 100%;
}
[data-role=hyp-3d-container] [data-role=hyp-3d-options] [data-role=hyp-step-container] [data-role=hyp-sizes-container] .hyp-size .size-data-container:after {
  position: absolute;
  content: '';
  inset: 0;
  background: rgba(0, 0, 0, 0.2);
  transition: background ease-in-out 0.2s;
}
[data-role=hyp-3d-container] [data-role=hyp-3d-options] [data-role=hyp-step-container] [data-role=hyp-sizes-container] .hyp-size.active {
  border: 1px solid var(--hyp-primary-bg);
}
[data-role=hyp-3d-container] [data-role=hyp-3d-options] [data-role=hyp-step-container] [data-role=hyp-sizes-container] .spacer {
  flex: 1;
  margin: 0.25rem;
}
[data-role=hyp-3d-container] [data-role=hyp-3d-options] [data-role=hyp-step-container] [data-role=hyp-user-input-container] {
  display: flex;
  flex-direction: column;
  flex: 0;
  margin: 1rem 0;
}
[data-role=hyp-3d-container] [data-role=hyp-3d-options] [data-role=hyp-step-container] [data-role=hyp-user-input-container] [data-role=hyp-form-control] {
  display: flex;
  flex-direction: column;
  margin: 0.25rem;
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
}
[data-role=hyp-3d-container] [data-role=hyp-3d-options] [data-role=hyp-step-container] [data-role=hyp-user-input-container] [data-role=hyp-form-control] > label {
  flex: 1;
  padding: 0.8rem 0;
  position: absolute;
  top: -1rem;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: var(--hyp-secondary-bg);
  display: flex;
  flex-direction: row;
  left: 0;
  right: 0;
  z-index: -1;
}
[data-role=hyp-3d-container] [data-role=hyp-3d-options] [data-role=hyp-step-container] [data-role=hyp-user-input-container] [data-role=hyp-form-control] > label .label-text {
  flex: 1;
}
[data-role=hyp-3d-container] [data-role=hyp-3d-options] [data-role=hyp-step-container] [data-role=hyp-user-input-container] [data-role=hyp-form-control] > label .char-counter {
  flex: 0;
}
[data-role=hyp-3d-container] [data-role=hyp-3d-options] [data-role=hyp-step-container] [data-role=hyp-user-input-container] [data-role=hyp-form-control] > input {
  flex: 1;
  padding: 0.8rem 0;
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid var(--hyp-secondary-bg);
  outline: 0;
  color: var(--hyp-secondary-bg);
  background: transparent;
  transition: border-color 0.2s;
}
[data-role=hyp-3d-container] [data-role=hyp-3d-options] [data-role=hyp-step-container] [data-role=hyp-user-input-container] [data-role=hyp-form-control] > input:disabled {
  cursor: not-allowed;
}
[data-role=hyp-3d-container] [data-role=hyp-3d-options] [data-role=hyp-step-container] [data-role=hyp-user-input-container] [data-role=hyp-form-control] > input::placeholder {
  color: transparent;
}
[data-role=hyp-3d-container] [data-role=hyp-3d-options] [data-role=hyp-step-container] [data-role=hyp-user-input-container] [data-role=hyp-form-control] > input:placeholder-shown ~ label {
  cursor: text;
  top: 20px;
}
[data-role=hyp-3d-container] [data-role=hyp-3d-options] [data-role=hyp-step-container] [data-role=hyp-user-input-container] [data-role=hyp-form-control] > input:focus {
  font-weight: 700;
  border-width: 2px;
  border-color: var(--hyp-primary-bg);
  color: var(--hyp-primary-bg);
}
[data-role=hyp-3d-container] [data-role=hyp-3d-options] [data-role=hyp-step-container] [data-role=hyp-user-input-container] [data-role=hyp-form-control] > input:focus ~ label {
  position: absolute;
  top: -1rem !important;
  transition: 0.2s;
  color: var(--hyp-primary-bg);
  font-weight: 700;
}
[data-role=hyp-3d-container] [data-role=hyp-3d-options] [data-role=hyp-step-container] [data-role=hyp-user-input-container] [data-role=hyp-form-control] > .char-counter {
  display: flex;
  position: absolute;
  right: 0;
  color: var(--hyp-secondary-bg);
}
[data-role=hyp-3d-container] [data-role=hyp-3d-options] [data-role=hyp-footer] {
  display: flex;
  flex-direction: row;
  flex: 0;
  padding: 0.5rem 0;
  min-height: 80px;
  align-items: flex-end;
}
[data-role=hyp-3d-container] [data-role=hyp-3d-powered-by] {
  position: absolute;
  bottom: 5px;
  left: 1rem;
  right: 1rem;
  display: flex;
  justify-content: flex-start;
  font-size: 0.625rem;
  z-index: 2000;
  flex-direction: row;
  align-items: center;
}
[data-role=hyp-3d-container] [data-role=hyp-3d-powered-by] span {
  display: flex;
}
[data-role=hyp-3d-container] [data-role=hyp-3d-powered-by] img {
  display: flex;
  height: 0.625rem;
  margin-left: 0.625rem;
}
[data-role=hyp-3d-container]:not(.first-step) {
  /*The powered by footer*/
}
[data-role=hyp-3d-container]:not(.first-step) [data-role=hyp-3d-powered-by] {
  position: absolute;
  bottom: 5px;
  left: 5px;
  display: flex;
  justify-content: flex-start;
  font-size: 0.625rem;
  z-index: 2000;
  flex-direction: row;
  align-items: center;
}
@media (orientation: portrait) and (max-width: 992px) {
  [data-role=hyp-3d-container]:not(.first-step) [data-role=hyp-3d-powered-by] {
    position: relative;
    flex: 0;
    justify-content: flex-end;
    padding: 0 0.1rem;
    left: unset;
    bottom: 125px;
  }
}
[data-role=hyp-3d-container]:not(.first-step) [data-role=hyp-3d-powered-by] span {
  display: flex;
}
[data-role=hyp-3d-container]:not(.first-step) [data-role=hyp-3d-powered-by] img {
  display: flex;
  height: 0.625rem;
  margin-left: 0.625rem;
}
@media (orientation: portrait) and (max-width: 992px) {
  [data-role=hyp-3d-container]:not(.first-step) header {
    position: fixed;
    top: 0.75rem;
    left: 0;
    right: 0;
    background: var(--hyp-secondary-bg);
    padding: 0.5rem;
    margin: 0 0.2rem;
    margin-top: -5px;
  }
  [data-role=hyp-3d-container]:not(.first-step) header h2 {
    margin: 0rem;
  }
}
@media (orientation: portrait) and (max-width: 992px) {
  [data-role=hyp-3d-container]:not(.first-step) [data-role=hyp-3d-viewer] {
    margin-top: 80px;
  }
}
[data-role=hyp-3d-container]:not(.first-step) [data-role=hyp-3d-options] {
  flex: 0;
}
@media (orientation: portrait) and (max-width: 992px) {
  [data-role=hyp-3d-container]:not(.first-step) [data-role=hyp-3d-options] [data-role=hyp-step-container].collapsed {
    position: absolute;
    bottom: 0rem;
    left: 0px;
    right: 0px;
    height: 80px;
    z-index: -1;
    padding: 1rem;
  }
  [data-role=hyp-3d-container]:not(.first-step) [data-role=hyp-3d-options] [data-role=hyp-step-container].collapsed [data-role=hyp-step-title] {
    justify-content: center;
    min-height: 80px;
    padding: 0rem 0.25rem;
  }
  [data-role=hyp-3d-container]:not(.first-step) [data-role=hyp-3d-options] [data-role=hyp-step-container].collapsed .option-container {
    display: none;
  }
  [data-role=hyp-3d-container]:not(.first-step) [data-role=hyp-3d-options] [data-role=hyp-step-container].collapsed .option-container .option {
    min-width: calc(17% - 12px);
    max-width: calc(17% - 12px);
  }
  [data-role=hyp-3d-container]:not(.first-step) [data-role=hyp-3d-options] [data-role=hyp-step-container].collapsed .option-container .space {
    display: none;
  }
  [data-role=hyp-3d-container]:not(.first-step) [data-role=hyp-3d-options] [data-role=hyp-step-container].collapsed + [data-role=hyp-footer] .spacer {
    flex: 1;
    height: 100%;
  }
  [data-role=hyp-3d-container]:not(.first-step) [data-role=hyp-3d-options] [data-role=hyp-step-container]:not(.collapsed) + [data-role=hyp-footer] .spacer {
    flex: 1;
    height: 100%;
  }
}
@media (orientation: portrait) and (max-width: 992px) and (orientation: portrait) and (max-width: 992px) {
  [data-role=hyp-3d-container]:not(.first-step) [data-role=hyp-3d-options] [data-role=hyp-step-container].collapsed + [data-role=hyp-footer] .spacer:after {
    all: unset;
    content: '';
    /* margin-top: 35px; */
    z-index: 1;
    width: 0px;
    position: absolute;
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 12px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    bottom: 4.5rem;
    left: calc(50% - 3px);
    cursor: pointer;
    -webkit-animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite;
    opacity: 0.1;
  }
}
@media (orientation: portrait) and (max-width: 992px) and (orientation: portrait) and (max-width: 992px) {
  [data-role=hyp-3d-container]:not(.first-step) [data-role=hyp-3d-options] [data-role=hyp-step-container]:not(.collapsed) + [data-role=hyp-footer] .spacer:after {
    all: unset;
    content: '';
    /* margin-top: 35px; */
    z-index: 1;
    width: 0px;
    position: absolute;
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 12px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    bottom: 4rem;
    left: calc(50% - 3px);
    cursor: pointer;
    opacity: 1;
  }
}
[data-role=hyp-3d-container] .spacer {
  flex: 1;
}
[data-role=hyp-3d-container] .btn {
  min-width: 100px;
  text-transform: uppercase;
  padding: 0.375rem 0.75rem;
  margin: 0.1rem;
  cursor: pointer;
  transition: background ease-in-out 0.2s;
  height: min-content;
}
@media (orientation: portrait) and (max-width: 992px) {
  [data-role=hyp-3d-container] .btn {
    min-height: 100%;
  }
}
[data-role=hyp-3d-container] .btn.btn-primary {
  background: var(--hyp-primary-bg);
  color: var(--hyp-primary-fg);
  border: 1px solid var(--hyp-primary-bg);
  border-color: var(--hyp-primary-bg);
}
[data-role=hyp-3d-container] .btn.btn-primary.btn-outline {
  background: var(--hyp-primary-fg);
  color: var(--hyp-primary-bg);
}
[data-role=hyp-3d-container] .btn.btn-primary.btn-outline:hover {
  background: var(--hyp-primary-bg);
  color: var(--hyp-primary-fg);
  border: 1px solid var(--hyp-primary-bg);
}
[data-role=hyp-3d-container] .btn.btn-primary:hover {
  background: var(--hyp-primary-fg);
  color: var(--hyp-primary-bg);
  border: 1px solid var(--hyp-primary-bg);
}
[data-role=hyp-3d-container] .btn.btn-secondary {
  background: var(--hyp-secondary-bg);
  color: var(--hyp-secondary-fg);
  border: 1px solid var(--hyp-secondary-bg);
  border-color: var(--hyp-secondary-bg);
}
[data-role=hyp-3d-container] .btn.btn-secondary.btn-outline {
  background: var(--hyp-secondary-fg);
  color: var(--hyp-secondary-bg);
}
[data-role=hyp-3d-container] .btn.btn-secondary.btn-outline:hover {
  background: var(--hyp-secondary-bg);
  color: var(--hyp-secondary-fg);
  border: 1px solid var(--hyp-secondary-bg);
}
[data-role=hyp-3d-container] .btn.btn-secondary:hover {
  background: var(--hyp-secondary-fg);
  color: var(--hyp-secondary-bg);
  border: 1px solid var(--hyp-secondary-bg);
}
[data-role=hyp-3d-container] .btn.btn-tertiary {
  background: var(--hyp-tertiary-bg);
  color: var(--hyp-tertiary-fg);
  border: 1px solid var(--hyp-tertiary-bg);
  border-color: var(--hyp-tertiary-bg);
}
[data-role=hyp-3d-container] .btn.btn-tertiary.btn-outline {
  background: var(--hyp-tertiary-fg);
  color: var(--hyp-tertiary-bg);
}
[data-role=hyp-3d-container] .btn.btn-tertiary.btn-outline:hover {
  background: var(--hyp-tertiary-bg);
  color: var(--hyp-tertiary-fg);
  border: 1px solid var(--hyp-tertiary-bg);
}
[data-role=hyp-3d-container] .btn.btn-tertiary:hover {
  background: var(--hyp-tertiary-fg);
  color: var(--hyp-tertiary-bg);
  border: 1px solid var(--hyp-tertiary-bg);
}
[data-role=hyp-3d-container] .btn.disabled {
  background: var(--hyp-disabled-bg);
  color: var(--hyp-disabled-fg);
  border: 1px solid var(--hyp-disabled-bg);
}
[data-role=hyp-3d-container] .btn.disabled:hover {
  background: var(--hyp-disabled-bg);
  color: var(--hyp-disabled-fg);
  border: 1px solid var(--hyp-disabled-bg);
}
[data-role=hyp-3d-container] .btn.hidden {
  display: none;
}
@media (orientation: portrait) and (max-width: 992px) {
  [data-role=hyp-3d-container] [data-role="hyp-previous-step"] {
    position: relative;
  }
  [data-role=hyp-3d-container] [data-role="hyp-previous-step"] > span {
    display: none;
  }
  [data-role=hyp-3d-container] [data-role="hyp-previous-step"]:after {
    all: unset;
    inset: 0;
    display: block;
    content: '';
    z-index: 1;
    width: 0px;
    height: 0px;
    position: absolute;
    border-style: solid;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 12px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    cursor: pointer;
    opacity: 1;
    top: calc(50% - 15px);
    left: calc(50% - 10px);
  }
}
@media (orientation: portrait) and (max-width: 992px) {
  [data-role=hyp-3d-container] [data-role="hyp-next-step"] {
    position: relative;
  }
  [data-role=hyp-3d-container] [data-role="hyp-next-step"] > span {
    display: none;
  }
  [data-role=hyp-3d-container] [data-role="hyp-next-step"]:after {
    all: unset;
    inset: 0;
    display: block;
    content: '';
    z-index: 1;
    width: 0px;
    height: 0px;
    position: absolute;
    border-style: solid;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 12px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    cursor: pointer;
    opacity: 1;
    top: calc(50% - 15px);
    left: calc(50% - 20px);
  }
}
[data-role=hyp-3d-container] [data-role="hyp-order-step"] {
  /*
            @media (orientation: portrait) and (max-width: 992px) {
                position: relative;

                > span {
                    display: none;
                }

                &:after {
                    all: unset;
                    inset: 0;
                    display: block;
                    justify-content: center;
                    align-items: center;
                    content: '';
                    z-index: 1;
                    width: 0px;
                    height: 0px;
                    position: absolute;
                    border-style: solid;
                    border-width: 0 2px 2px 0;
                    display: inline-block;
                    padding: 12px;
                    transform: rotate(45deg);
                    -webkit-transform: rotate(45deg);
                    cursor: pointer;
                    opacity: 1;
                    top: calc(50% - 15px);
                    left: calc(50% - 20px);
                }
            }*/
}
[data-role=hyp-3d-container] .hyp-loader {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}
[data-role=hyp-3d-container] .hyp-loader .dot {
  width: 10px;
  height: 10px;
  border: 2px solid var(--hyp-primary-bg);
  border-radius: 50%;
  float: left;
  margin: 0 5px;
  transform: scale(0);
  animation: fx 1000ms ease infinite 0ms;
}
[data-role=hyp-3d-container] .hyp-loader .dot:nth-child(2) {
  animation: fx 1000ms ease infinite 300ms;
}
[data-role=hyp-3d-container] .hyp-loader .dot:nth-child(3) {
  animation: fx 1000ms ease infinite 600ms;
}